.menu {
    padding: 20px 0;
    background-color: #f3f4f6;
}

.menu__drop_down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__drop_down_item {
    list-style: none;
}

.menu__drop_down_item + .menu__drop_down_item {
    margin-left: 25px;
}

.menu__drop_down_link {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    src: url('../../fonts/raleway-v27-latin-regular.eot');
}

.menu__drop_down_link:hover {
    opacity: 0.6;
}