/*border: 3px solid #939393;*/


.section__table {
    padding:0 15px;
    min-width: 700px;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 1px solid white;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

th, td {
    padding: 10px;
    border: 1px solid white;
    background-color: #eee;
}

.td__title{
    border-bottom: 1px solid white;
    background-color: #dedede;
}

.td__count{
    background-color: #dedede;
}

.td__title + td{
    border-left: 1px solid white;
}

#td__id{
    min-width: 39px;
}

#td__value{
    min-width: 60px;
}

#td__morbidity_type{
    min-width: 122px;
}

#td__population{
    min-width: 127px;
}

#td__year{
    min-width: 54px;
}

#td__disease_class{
    min-width: 327px;
}

#td__populated_area{
    min-width: 155px;
}